<h2>
	<input type="text" ng-model="selectedNarrative.name">
	<div class="return" ng-click="deselectNarrative()"><</div>
</h2>
<div class="dependencies" ng-if='selectedNarrative.isCodeNarrative()'>
<h4 ng-repeat="dependency in selectedNarrative.dependencies"> {{ dependency.getPath() }} <span ng-click='removeDependency(dependency)'>(-) </span></h4>
<select  ng-options="file as (file.parent.name +'/'+ file.name) for file in JSFiles" ng-model="dep.toAdd" ng-change='addDependency(file)'>
	<option value="false">-- Add a dependency --</option>
</select>
</div>

<div class="item button-wide add" ng-click="addItem()"></div>

<div ng-repeat="item in selectedNarrative.items track by $index">
	<div item-edit class="item">
		<div class="remove" ng-click="removeItem(item)"></div>

	</div>
	<div class="item button-wide add" ng-click="addItem(item)"></div>
</div>

<div ng-repeat="node in selectedNarrative.narrativeHooks track by $index" id="{{node.path}}">
	 <p class="narrative-hook">
	  <i ng-click='move(node)' class="fa fa-chain-broken">  </i>
	  <span ng-click="goToItemHook(node.path)">  {{node.path}} </span> 
	 </p>
	<div ng-repeat="item in node.items">
		<div item-edit class="item">
			<div class="remove" ng-click="removeItem(item,node.path)"></div>
			<i ng-click='move(node,item)' class="fa fa-chain-broken">  </i>
		</div>
		<div class="item button-wide add" ng-click="addItem(item)"></div>
	</div>
</div>