<div class="VObjectEditorWrapper">
	<div class="content">
		<div class="header"><h1>V-Object Editor</h1></div>
		<div class="close"></div>
		<div class="editor">
			<div class="controls">
				<select ng-model="selectedVObject" ng-change="updateVObject()">
					<option ng-repeat="(name, object) in VObjects">{{name}}</option>
					<option>New Object</option>
				</select>
				<button ng-click="saveObject(); showVObjectEditor = false">Save</button>
			</div>
			<div ng-model="VObjectContent" ui-ace="{ theme: crimson_editor, mode :'javascript'}"></div>
		</div>
	</div>
</div>
