html, body {
  margin:0;
  padding:0;
  width: 100%;
  height: 100%;
}

body {
  padding-top:50px;
  box-sizing:border-box;
  position: relative;
}

.projectLoader{
  position: absolute;
  width: 100%;
  height: 50px;
  top:0;
  left:0;
  background-color: #2196F3;
}

.wrapper {
  height: 100%;
  position: relative;
  padding-right:500px;
}

.cast {
  height: 100%;
  width: 100%;
}

.narrator {
  position:absolute;
  top:0;
  right:0;
  height: 100%;
  width:500px;
  background-color: #EFEFEF;
}



