
<!--editing-->
<div ng-transclude></div>

<div class="item button-wide add" ng-click="narrative.addItem(null,0)" ng-if="'narrating.writing.editing' | isState"></div>

<div ng-repeat="item in narrative.items" ng-if="'narrating.writing.editing' | isState">
	<div class="item debug-controlls" ng-if="narrative.isCodeNarrative()">
		<div ng-click='debugStep()'> '>' </div>
	</div>

	<div item-edit>
		<div class="remove" ng-click="narrative.removeItem(item)"></div>
	</div>

	<div class="item button-wide add" ng-click="narrative.addItem(null,item)"></div>
</div>

<!--viewing-->
<div ng-repeat="item in narrative.items" ng-if="'narrating.viewing.playing' | isState">
	<div item ></div>
</div>

