<div class='show-files-btn' ng-class="(displayFilesFolders) ? 'fa fa-folder-open' : 'fa fa-folder'" ng-init='displayFilesFolders = true' ng-click='displayFilesFolders = !displayFilesFolders'></div>
<table class='width-height-max' cellpadding="0" cellspacing="0">
<tbody>
<tr>
	<td ng-if='displayFilesFolders' class="directory-view">

		<div  directory data="directory.rootnode.children" cast-url="'/'"></div>
	</td>
	<td class='width-height-max'>
	<div  class='ace-container' ui-ace="{ theme: crimson_editor, onLoad: aceLoaded , mode :(selected.isJSFile() || selected.tnode ? 'javascript' : 'text')}" readonly >
	</div>
	</td>
</tr>
</tbody>
</table>
