<link rel="stylesheet" href="assets/styles/app.css">


<nav class="navigation" ui-view="navigation"></nav>

<div class="wrapper">


<div class='show-files-btn' ng-class="(displayFilesFolders) ? 'fa fa-folder-open' : 'fa fa-folder'" ng-init='displayFilesFolders = true' ng-click='displayFilesFolders = !displayFilesFolders'></div>
<div ui-view="directories" ng-if='displayFilesFolders' class="directories">

	<div  directory data="directory.rootnode.children" cast-url="'/'"></div>
</div>
<div ui-view="code" class='code' ui-ace="{ theme: crimson_editor, onLoad: aceLoaded , mode :(selected.isJSFile() || selected.tnode ? 'javascript' : 'text')}" readonly></div>


<div class="narrator" ui-view="narrator" scroll-glue="'narrating.viewing.playing' | isState"></div>

</div>
  <messages></messages>									