
.narrator{
	padding-left:20px;
	padding-right:20px;
	background-color: #E0CCCC



}

narrative table {
	width:100%;
}
td {
	text-align: center;
}

.narrative-path{
	text-align: center;
	padding:4px;
	border-top:2px solid;
	border-bottom:2px solid;
	text-align:center;
	border-radius:5px;
}

.narrator-btn{

	background-color:#FFE0E0;
}

.primitive{
	padding:1em;
	padding-bottom:0em;

	border-top:1px dashed;
	border-bottom:1px dashed;


}
