<link rel="stylesheet" href="assets/styles/homeScreen.css">
<div class="wrapper">
	<div class="container">
		
		<form class="form">
			<div ng-switch="loader">
			<githubloader ng-show='loader=="github"'></githubloader>
			<fileloader ng-show='loader=="file"'></fileloader>
			<!--<input type="text" placeholder="Username">-->
			<!--<input type="password" placeholder="Password">-->
			<button ng-click="goToNarrator()" ng-show="castReady" ng-disabled="castReady">Narrate</button>
			<div class="link">
				<a ng-click="loader='file'" ng-show="loader=='github'">Or upload a zip file</a>
				<a ng-click="loader='github'" ng-show="loader=='file'">Or use github</a>
			</div>
			</div>
		</form>
	</div>
	
	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>