.directory-view ul{
	list-style: none;
	padding-left: 10px;
	margin:0;
}

.directory-view li {
	margin: 7px 0;
	width:100%;
}

.folder-reference {
	font-weight: bold;
}

.js-program-node{
	float:right;
	font-weight:italic;
}