
<ul>
	<li ng-repeat="(key, value) in data" ng-if="!value.isASTNode()" ng-class="{'hasNarrative' : narrative((castUrl + key))}">
		<a class='cast-entry' ui-sref=".selecting.url({path: (castUrl + key)})"
		ng-class="{
			'folder-reference': value.isFolder(),
			'active': contains((castUrl + key)),
		}">
			{{key}}
		</a> 
		<a class='js-program-node' ng-if="value.isJSFile()" 
		ui-sref=".selecting.url({path: (castUrl + key + '/Program' )})" ><i class="fa fa-code"></i></a>

		<div directory data="value.children" level="level+1" cast-url="castUrl+key+'/'"></div>		
	</li>
</ul>