.directory-view ul{
	list-style: none;
	margin:0;
	padding:0;
}

.directory-view li {
	margin: 0;
}
.directory-view li a {
	display: inline-block;
	padding:5px 8px;
}
.directory-view li a.cast-entry {
	width: 95%;
}

.directory-view li .folder-reference {
	font-weight: bold;
}

.directory-view li .js-program-node{
	position: absolute;
	right: 16px;
	width: 10px;
	font-weight: italic;
}

.folder-arrow{
}

.directory-view .active {
	color:white;
	background-color: #c0c0c0;
}