<VObjectEditor ng-show='showVObjectEditor'></VObjectEditor>	


<u>
	<li><a ui-sref="home">Home</a></li>
	<li><a href="" ng-click="showVObjectEditor = true">V-Object</a></li>
	<li><a href="" ng-click="saveCodeStories()">Export CodeStories</a></li>
	<li class="mode">
		<a ui-sref="narrating.writing.selecting($stateParams)" ui-sref-active="active">
			<i class="fa fa-pencil fa-2"></i>
		</a>
		<a ui-sref="narrating.viewing.selecting($stateParams)" ui-sref-active="active">
			<i class="fa fa-eye fa-2"></i>
		</a>
	</li>
</u>
