<VObjectEditor></VObjectEditor>	


<u>
	<li><a ui-sref="home">Home</a></li>
	<li><a href="" ng-click="openEditor()">V-Object</a></li>
	<li><a href="" ng-init='showExport = false' ng-click='showExport = !showExport' >Export</a>
		<ul class="export-choice" ng-if="showExport" ng-mouseleave="showExport=false">
			<li><a ng-click="saveCodeStories()"> .codestories</a></li>
			<li><a ng-click="saveZip()"> Zip </a></li>
		</ul>

	</li>
	<li class="mode">
		<a ui-sref="narrating.writing.selecting($stateParams)" ng-class="{active: $state.includes('narrating.writing')}">
			<i class="fa fa-pencil fa-2"></i>
		</a>
		<a ui-sref="narrating.viewing.selecting($stateParams)" ng-class="{active: $state.includes('narrating.viewing')}">
			<i class="fa fa-eye fa-2"></i>
		</a>
	</li>
</u>
