
<table class="primitive" ng-controller="PrimitiveController">
<tr>
<td>
	<remove-primitive-btn > </remove-primitive-btn>
</td>
<td>
	<div ng-show="editorEnabled">  </div>
	<div ng-click="writerMode && edit()" ng-hide='editorEnabled'>
   {{ primitive.text || primitive.link.path || 'Empty' }}
  	</div>

 <div ng-show="editorEnabled">
  <a href="#" ng-click="save()">Save</a>
      <textarea ng-model="editableContent" ng-show="editorEnabled"></textarea>
      <a href="#" ng-click="cancel()">cancel</a>.
    </div>
 </td>
<td>
	<add-primitive-btn>
	</add-primitive-btn>
	</td>
</tr>
</table>
